*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: $base-f;
  font-size: 16px;
  line-height: 19px;
  color: $base-black;
  background-color: $base-white;
}

input[type="number"] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1366px;
  margin: 0 auto;
  padding-left: 98px;
  padding-right: 98px;
}
